/* Fonts and Var */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
:root{
    --primary-color: #FF5400;
    --text-black: #131318;
    --p-fst: rgba(19, 19, 24, 0.70);
    --p-sec: #5A5A5D;
    --p-third: #424247;
}

/* Common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header, main{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}
.btn-primary{
    border-radius: 8px;
    background: var(--primary-color);
    border: 0px;
    color: #FFF;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.9rem 2rem ;  
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.25rem;
}

.logo{
    display: flex;
    gap: 1rem;
}
.logo h1 span{
    color: var(--primary-color);
}
nav{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 400;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--p-third);
    margin-left: 2.75rem;
}

nav ul li:nth-child(1) a{
    color: var(--primary-color);
}
header svg{
    display: none;
}


/* Explore */
.explore{
    text-align: center;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 3rem;
    min-height: 500px;
}
.explore-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.explore-container h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.625rem;
}
.explore-container p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1.5rem;
}
.input-container{
    width: 65%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    gap: 24px;
}

.input-container input{
    width: 25%;
    border: 0px;
    border-radius: 8px;
    padding:1rem;

}
.input-container input::placeholder{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
}

.input-container select{
    width: 25%;
    border: 0px;
    border-radius: 8px;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
}

.btn-explore{
    width: 25%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-explore p{
    margin: 0;
}


/*PopularTours */
.popular{
    display: flex;
    margin-top: 6.25rem;
    justify-content: space-between;
}

.popular-b1{
    width: 48%;
    color: var(--p-fst);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.popular-b1 h3{
    color: var(--text-black);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.popular-b1 ul{
    padding-left: 1.5rem;  
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;  
}
.popular-b1 ul li{
    margin-bottom: 1rem;
}
.popular-p2{
    margin-bottom: 2.5rem;
    color: var(--p-second);
}
.popular-b2{
    width: 48%;
}
.popular-b2 img{
    width: 100%;
    border-radius: 16px;
}

/* Destination */

.dest{
    text-align: center;
    margin-top: 6.25rem;
}

.dest-title h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.dest-title p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    color: var(--p-fst);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem
}
.des-img-r1, .des-img-r2, .des-img-r3{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.venue{
    width: 100%;
}


.des-pos{
    position: relative;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    bottom: 50%;
}

/* Why Choose Us */
.why{
    margin-top: 6.25rem;
    text-align: center;
}
.why h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.why p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    color: var(--p-fst);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem
}
.crd-container1{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2.5rem;
}
.card1, .card2, .card3{
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    text-align: left;
    padding: 2rem;
}
.card1 p, .card2 p, .card3 p{
    margin: 0;
    width: 90%;
}

.card1{
    background: rgba(251, 181, 99, 0.05);
}
.card2{
    background: rgba(41, 206, 246, 0.05);
}
.card3{
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
    margin-top: 1.5rem;
}
.why h3{
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--text-black);
}


/* perfect place */
.perfect{
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
}
.perfect-place, .video{
    width: 48%;
}
video{
    width: 100%;
    border-radius: 16px;
    height: 100%;
}
.perfect-place h1{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;

}
.perfect-place p{
    width: 90%;
    margin-bottom: 1.5rem;
    color: var(--p-fst);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem
}
.perfect-place ul{
    padding-left: 1.5rem;  
    margin-bottom: 1rem;  
}
.perfect-place ul li{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    color: #131318;
}

/*Newsletter */
.newsletter{
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
}
.news{
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2.5rem;
    height: 57%;
}
.news h3{
    font-size: 1.5rem;
    font-weight: 800;
}
.news p{
    margin: 1rem 0;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem
}
.news hr{
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 1.5rem;
}
.news input{
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0;
}
.news button{
    width: 100%;
    margin-top: 1.5rem; 
}

.news-img{
    width: 59%;

}
.news-img img{
    width: 100%;
}
.news-img div{
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    width: 50%;
    padding: 1.5rem;
    position: relative;
    transform-origin: bottom left;
    transform:translateX(105%) translateY(-100%) rotate(-19deg);   
    
}
.news-img p{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.news-img h3{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/*My own Section */
.review-sec{
    text-align: center;   
}

.review-sec h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.reviews{
    display: flex;
    justify-content: space-around;
}
.reviews div{
    width: 30%;
    border-radius: 16px;
    padding: 2rem;
    background: rgba(233, 68, 68, 0.05);
}
.reviews div p{
    margin: 1rem 0;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem
}

.reviews div h4{
    margin: 1rem 0;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.625rem
}


/* Mobile Responsive */
@media screen and (max-width:600px){ 
    header, main{
        width: 90%;
    }
    /* header */
    nav{      
        display: none;
    }
    header svg{
        display: block;
    }

    /* Explore */
    .explore{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 650px;
    }
    .explore-container p{
        width: 80%;
        margin: 0 auto;
    }
    .explore-container h1{
        font-size: 1.35rem;
        margin-bottom: 1rem;
    }

    .input-container{
        width: 90%;
        flex-direction: column;
    }
    .input-container input{
        width: 100%;
    }
    .input-container select{
        width: 100%;
        padding: 1rem;
    }
    .btn-explore{
        width: 100%;
        padding: 1rem;
    }

    /*PopularTours */
    .popular{
        flex-direction: column;
    }
    .popular-b1{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .popular-b2{
        width: 100%;
    }

    /* Destination */
    .dest{
        margin-top: 3.25rem;
    }
    .dest-title h1{
        font-size: 1.75rem;
    }
    .dest-title p{
        width: 90%;
    }
    .des-img-r1, .des-img-r2, .des-img-r3{
        flex-direction: column;
        gap: 0;
    }
    .venue{
        width: 100%;
        aspect-ratio: 1.90/1;
    }
    .des-pos{
        bottom: 130px;
        font-size: 1.5rem;  
    }
    /* Why Choose Us */
    .why{
        margin-top: 3.25rem;
    }
    .why h1{
        font-size: 1.5rem;
    }
    .why p{
        width: 90%;
    }   
    .crd-container1{
        flex-direction: column;
        gap: 1rem;
    }
    .card1, .card2, .card3{
        width: 100%;
    }
    /* perfect place */
    .perfect{
        flex-direction: column;
        margin-top: 2rem;
    }
    .perfect-place, .video{
        width: 100%;
    }
    video{
        margin-top: 2rem;
        height: 100%;
    }

    /*Newsletter */
    .newsletter{
        flex-direction: column;
        margin-top: 2rem;
    }
    .news{
        width: 100%;
        margin-bottom: 2rem;
    }
    .news-img{
        width: 100%;
    }
    .news-img p{
        font-size:0.98rem;
    }
    .news-img h3{
        font-size: 1.25rem;
    }

    /*My own Section */
    .reviews{
        flex-direction: column;
        gap: 1rem;
    }
    .reviews div{
        width: 100%;
    }
}
